#navbar{
  background-color: white;
}
#homePageNavBar{
  font-size:small;
  font-weight:bold;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1200px) {
  #homePageNavBar{
    border: 1px solid gray;
    display: block;
    padding-left:1vw;
  } 
}
#partnering{
  color: gray;
}
#partnering:hover{
  color: black;
}
.proudWord{
  font-size: 3vw;
}
.sub-proudWord{
  font-size: 2vw;
}
#searchBar:focus{
  border: 1px solid gray;
  outline: 1px solid gray;
  box-shadow: none;
}
.badge{
  background-color: rgb(235, 231, 231);
  padding: 1vh;
}
.badge:hover{
  background-color: yellow;
  cursor: pointer;
}
.infoSection{
  padding-top: 10%;
}
.links{
  background: none;
  border: none;
}
.links:link{
  color: red;
}

.cards{
  width: 200px;
  margin-right: 2%;

}
#detailsSection{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
#details{
  margin: 2% 0;
  padding-bottom: 2%;
  background-color: rgb(218, 169, 6);
}